body {
    font-family: Merriweather;
    background-color: #d3d2b0;
    color: #63399e;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fredericka the Great";
    font-size: 60pt;
    text-align: center;
}
header {
    text-align: center;}
 h1   {
     text-shadow:0 -5px #be8fff;
     text-align: center;
}
#hero, footer {text-align:center ;
}
#hero img {width:300px;
background-color: #be8fff;
}
#bio {text-align: center;
font-size: 30px;}

#bio img {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

#Homeinfo {text-align: center;
font-size: 30px;}

#hobbies {text-align: left;
font-size: 30px;
}
ul {
    list-style: square;
    background: #3399ff;
    padding: 50px;
    
  }
#hobbies ul :nth-child(even) {color:lightcoral}

#gallery {
    border: 22px solid black;

}
#gallery figure {text-align: center;}


#gallery img {
    max-width: 100%;
}
