body {
    font-family: Merriweather;
    background-color: #d3d2b0;
    color: #63399e;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fredericka the Great";
    font-size: 60pt;
    text-align: center;
}

h2 {
    margin: .1em;
}

header {
    text-align: center;}
 h1   {
     text-shadow:0 -5px #be8fff;
     text-align: center;
}
#hero, footer {text-align:center ;
}
#hero img {width:300px;
background-color: #be8fff;
}
#bio {text-align: center;
font-size: 30px;}

#bio img {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

#Homeinfo {text-align: center;
font-size: 30px;}

#hobbies {text-align: left;
font-size: 30px;
}
ul {
    list-style: square;
    background: #3399ff;
    padding: 50px;
    
  }
#hobbies ul :nth-child(even) {color:lightcoral}

#hobbies
  {display: flex;
    flex-direction: column;
    align-items: center;
  }
#gallery {
    border: 22px solid black;

}
#gallery figure {text-align: center;
font-size: 23px;}


#gallery img {
    max-width: 100%;
}

#lit {border: 22px solid black;
    font-family: 'Creepster';
font-size: 32px;}

@media screen and (min-width: 60em) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;

    }